
html {
  position: relative;
  min-height: 100%;
  background-color: #4a5255;
}

body {
  margin-bottom: 50px;
}

#search-bar {
  margin-left: 15px;
  width: 50px;
  /* text-align: center; */
}

#search-box {
  width: 250px;
  text-align: center;
}

#tr-title {
  font-size: 25px;
  /* text-align: center; */
  margin-left: 15px;
  margin-top: 10px;
}

#movies-title {
  font-size: 15px;
  margin-left: 15px;
  margin-top: 10px;
}

#shows-title {
  font-size: 15x;
  margin-left: 15px;
  margin-top: 30px;
}

footer {
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 50px;
      line-height: 50px;
      text-align: center;

}

form.signup,
form.login {
  margin-top: 50px;
}

.logo {
  height: 36px;
  filter: invert(100%) sepia(0%) saturate(7485%) hue-rotate(215deg) brightness(112%) contrast(100%);
}

@media screen and (max-width: 639px) {
  #menu-options {
      display: none;
  }
  .my-hidden {
    display: none !important;
  }
  .my-block {
    display: block !important;
  }
}