html {
  position: relative;
  min-height: 100%;
  background-color: #4a5255;
}

body {
  margin-bottom: 50px;
}

footer {
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 50px;
      line-height: 50px;
      text-align: center;

}

form.signup,
form.login {
  margin-top: 50px;
}

.logo {
  height: 36px;
  filter: invert(100%) sepia(0%) saturate(7485%) hue-rotate(215deg) brightness(112%) contrast(100%);
}

/* width */
#movies-title::-webkit-scrollbar {
  width: 10px;
}

/* Track */
#movies-title::-webkit-scrollbar-track {
  background: #1a202c; 
  border-radius: 10px;
}
 
/* Handle */
#movies-title::-webkit-scrollbar-thumb {
  background: #4eebe3; 
  border-radius: 10px;
}

/* Handle on hover */
#movies-title::-webkit-scrollbar-thumb:hover {
  background: #37b8b1; 
}

@media screen and (max-width: 639px) {
  #menu-options {
      display: none;
  }
  .my-hidden {
    display: none !important;
  }
  .my-block {
    display: block !important;
  }
}